body{
    margin: 0px;
    padding: 0px;  
}
header{
    display: flex;
    background-color: #0057FF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    margin: 5px;
    border-radius: 7px;
    height: 7vh;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px 0px 10px;
}
.Head-titulo {
    flex-grow: 1;
    text-align: center;
}
#usuario_logado {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
#tela_login {
    display: flex; /* Adicionei a propriedade display: flex; */
    justify-content: space-between; /* Adicionei a propriedade justify-content: space-between; */
    padding: 10px;
}
#warehouse-image {
    flex: 0.70; /* Adicionei a propriedade flex: 0.65; */
    height: 78vh;
    overflow: hidden; /* Evita que a imagem ultrapasse a área da div */
    margin-top: 25px;
}
#formulario_inicial {
    flex: 0.30; /* Adicionei a propriedade flex: 0.30; */
    display: flex; /* Adicionei a propriedade display: flex; */
    align-items: center; /* Adicionei a propriedade align-items: center; */
    justify-content: center; /* Adicionei a propriedade justify-content: center; */
}
#warehouse-image img {
    width: 100%; /* Defina a largura da imagem como 100% */
    height: 100%; /* Defina a altura da imagem como 100% */
    object-fit: cover; /* Mantém a proporção e cobre completamente a área da div */
    margin-left: 15px;
}
.login{
    width: 350px;
    padding: 0.7px 12px 15px; /* Reduz o preenchimento superior */
    background-color: #E0E2F5;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
}
.tabela_form{
    width: 700px;
    padding: 0.7px 12px 15px; /* Reduz o preenchimento superior */
    background-color: #E0E2F5;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
}
.cadastro {
    width: 350px;
    padding: 0.7px 12px 15px; /* Reduz o preenchimento superior */
    background-color: #EFAF8A;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
}

.nova_senha {
    width: 350px;
    padding: 0.7px 12px 15px; /* Reduz o preenchimento superior */
    background-color: #8b67da;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
}


.login-form {
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se necessário */
    max-height: 380px; /* Define a altura máxima da tabela */
}
.login-form h4 {
    text-align: center;
    font-size: 24px; 
    margin-bottom: 18px; /* Adiciona espaço abaixo do texto "LOGIN" */
}
.login-form input, select,[type="password"] {
    width: 100%;
    margin: 14px 0; 
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
.login-form button {
    background-color: #0000ff;
    color: white;
    padding: 9px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    font-size: 14px
}
.login-form button:hover{
    background-color: #4444ff;
}
#background-image {
    background: rgba(0, 0, 0, 0.5) url('https://github.com/Luca-sketch/MVP_SPRINT_1/blob/main/background-image.jpg?raw=true') no-repeat center center fixed;
    background-size: 100vw;
    position: absolute;
    opacity: 50%;
    top: 30px;
    width: 95%;
    height: 82%;
    margin: 2vw;
    z-index: -1; 
}
.escolha-form{
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 27vh;
    position: relative;
    z-index: 1;
}
.escolha-form button{
    background-color: #ff0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    height: 50px;
    border-radius: 10px;
}
.escolha-form button:hover{
    background-color: #ff3333;    
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {  
    border: 4px solid #E0E2F5;
    padding: 8px;
    text-align: center;
    background-color: #ffff;
}
th{
    padding: 15px 0px 5px;
}
.footer {
    justify-content:center;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#filtro {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    gap: 10px; /* Adiciona um espaçamento entre os elementos */
    margin-bottom: 10px;
}
/* Seção de responsividade */
@media (max-width: 400px) {
    #background-image {
        width: 100vw; /* A imagem ocupará 100% da largura */
        height: 100hw;
    }
}

